.popolBlock{
    height: 300px;
    width: 500px;
    border: 1px solid black;
    a{
        height: 100%;
        width: 100%;
        text-decoration: none;
        .img_box{
            img{
                width: 100%;
            }
        }
    }
}