.nav_container 
    .nav_menu_container
        .nav_menu 
            span home
        .nav_menu 
            span directions
        .nav_menu 
            span portpolio
    .nav_login_container 
        .nav_toggle
            i.fas.fa-ellipsis-v
            .nav_dropdown
                .nav_notification
                    span 관리자 메뉴
                .nav_login 
                    a(href="")  
                        span login 