extends layout/main

block content 
    .home_container 
        .home_content_box1
            .header
                | Hcode 
            .img_box 
                img(src="src/img/mylogo.png", alt="")
            .content 
                .title AnJinHyeok
                .context
                    p Article evident arrived express highest men did boy. Mistress sensible entirely 
                    p am so. Quick can manor smart money hopes worth too. Comfort produce 
                    p husband boy her had hearing. Sit amet massa vitae tortor condimentum lacinia 
                    p quis. Ornare arcu dui vivamus arcu felis bibendum ut. Consectetur adipiscing 
                    p elit duis tristique sollicitudin. Volutpat lacus laoreet non curabitur. Magna 
                    p fringilla urna porttitor rhoncus. Ultricies leo integer malesuada nunc vel risus 
                    p commodo viverra. Ipsum a arcu cursus vitae congue. Imperdiet dui accumsan 
                    p sit amet nulla facilisi. Tincidunt dui ut ornare lectus sit. Phasellus faucibus 
                    p scelerisque eleifend donec pretium vulputate sapien nec. Eget gravida cum 
                    p sociis natoque.    
            .link
                i.fab.fa-facebook-square
                i.fab.fa-twitter
                i.fab.fa-instagram
        .home_content_box2 
            .top 
                .right
                    .top
                        p We collaborate 
                            br
                            |with brands and 
                            br
                            |agencies to create 
                            br
                            |memorable 
                            br
                            |experiences.
                    .bottom 
                        p s a m p l e 
                        p h e a d l i n e
                .left
                    .header
                        p 
                            |We dwelling elegance do shutters 
                            br
                            |appetite yourself diverted.
                    .main 
                        p The principal reason we continue to adapt and
                            br
                            | evolve our business model is to ensure that we are
                            br
                            |meeting our customers’ expectations. One
                            br
                            |example of this has been to use modern
                            br
                            |technology and the introduction of the real time
                            br
                            |tracking our teams using GPS. This ensures our
                            br
                            |customers get the time they have paid for has
                            br
                            |been spent at our customers’ homes since this is
                            br
                            |the most common problem within our industry.
                    .footer 
                        i.fas.fa-comment-alt
                        span Chat Now
            .bottom
                .number_box 
                    p 1
        .home_content_box3 
            .content_box 
                p We design People Inspired
                p Experiences that create positive
                p change in people's lives.
            .content_box 
                .box 
                    img(src="src/img/arrow.png", alt="")
                .box 
                    p view portfolio
            .content_box 
                .img_box 
                    img(src="#", alt="")
                .img_box 
                    img(src="#", alt="")
                .img_box 
                    img(src="#", alt="")
                .img_box 
                    img(src="#", alt="")
                .img_box 
                    img(src="#", alt="")
                .img_box 
                    img(src="#", alt="")
            .content_box 
                .button_box 
                    p learn more
            .content_box 
                .context_box_left 
                    .top 
                        |Bring to the table win-win survival
                        br
                        |strategies to ensure proactive domination. 
                        br
                        |At the end of the day, going forward, a new 
                        br
                        |normal that has evolved from generation X 
                        br
                        |is on the runway heading towards a 
                        br
                        |streamlined cloud solution. 
                    .bottom
                        |Living Life Tomorrow's fate, though thou be wise, Thou 
                        br
                        |canst not tell nor yet surmise; Pass, therefore, not 
                        br
                        |today in vain, For it will never come again. You know, 
                        br
                        |my friends, with what a brave carouse I made a 
                        br
                        |Second Marriage in my house; favored old barren 
                        br
                        |reason from my bed, and took the daughter of the vine 
                        br
                        |to spouse.  The Worldly Hope men set their Hearts 
                        br
                        |upon Turns Ashes - or it prospers; and anon, Like 
                        br
                        |Snow upon the Desert's dusty Face, Lighting a little 
                        br
                        |hour or two - is gone.
                .context_box_right
                    .top 
                        |Living Life Tomorrow's fate, though thou be wise, Thou 
                        br
                        |canst not tell nor yet surmise; Pass, therefore, not 
                        br
                        |today in vain, For it will never come again. You know, 
                        br
                        |my friends, with what a brave carouse I made a 
                        br
                        |Second Marriage in my house; favored old barren 
                        br
                        |reason from my bed, and took the daughter of the vine 
                        br
                        |to spouse.  The Worldly Hope men set their Hearts 
                        br
                        |upon Turns Ashes - or it prospers; and anon, Like 
                        br
                        |Snow upon the Desert's dusty Face, Lighting a little 
                        br
                        |hour or two - is gone.
                    .bottom
                        .img_box
                            img(src="src/img/sign.PNG", alt="sign")
        .home_content_box4
            .top 
                p We are information security
            .bottom 
                .phone_number 
                    i.fas.fa-phone
                    p +08 010-1234-5678
                .img_box 
                    img(src="src/img/mylogo.png", alt="")
                .location_box 
                    p Location
                .address_box 
                    p 121 Rock Start, 22age,
                    p Seoul, haha
                .underline_box 
                .footer_box
                    p Sample text. Click to select the text 
                    p box. Click again or double click to 
                    p start editing the text. 