extends layout/main

block content 
    .home_container 
        .home_header_box 
            .home_img_box 
                img.img(src="/src/img/vintageInterior1.jpg")
                img.img.hidden(src="/src/img/vintageInterior2.jpg")
                img.img.hidden(src="/src/img/vintageInterior3.jpg")
        .home_content_box
            .home_text_box 
                p.home_text we are design your life