extends layout/main

block content 
    .map_container 
        .map_box 
            #map
    script(type="text/javascript", src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=YOUR_CLIENT_ID")