extends layout/main

block content 
    .write_container 
        form(action=`${routes.data}${routes.write}`, method="post", enctype="multipart/form-data").write_form 
            input.write_box_title(type="text",name="title",size="30",placeholder="제목")
            textarea.write_box_content(name="content",cols="150",rows="50",placeholder="텍스트") 
            label 파일 선택
                input.write_box_main_img(type="file",name="mainImg",accept="image/*",onchange="javascript:document.getElementById('file_text').value=this.value")
            input(type="text",readonly, id="file_text")
            button.write_box_submit(type="submit") Upload