.write_container{
    width: 100%;
    display: flex;
    justify-content: center;
    .write_form{
        width: 1200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .write_box_title{
            width: 1144px;
            margin-bottom: 20px;
            border-radius: 5px;
            border-style: none;
            text-align: center;
        }
        .write_box_content{
            width: 1144px;
            margin-bottom: 20px;
            border-radius: 5px;
            border-style: none;
        }
        label{
            margin-bottom: 20px;
            padding: 10px 20px;
            border-radius: 10px;
            background-color: white;
            color: black;
            &:hover{
                cursor: pointer;
            }
            .write_box_main_img{
                display: none;
            }
        }
        #file_text{
            width: 1144px;
            margin-bottom: 20px;
            border-radius: 5px;
        }
        .write_box_submit{
            background-color: white;
            padding: 10px 28px;
            border-radius: 10px;
            color: black;
            border-style: none;
        }
    }
}