mixin popolBlock(popol={})
    a(href=`${routes.data}${routes.popolDetail(popol.id)}`).content_box  
        .img_box
            img(src=`/uploads/${popol.img}`, alt="") 
        .title 
            p=popol.title        
               
            