mixin popolBlock(popol={})
    .popolBlock 
        a(href=`${routes.data}${routes.popolDetail(popol.id)}`) 
            img(src=`${popol.img}`)
            //- p.popol_block_id=popol.id
            //- p.popol_block_title=popol.title
            //- p.popol_block_date=popol.date